<h1>Welcome</h1>
<h3>Current balance: </h3>

<h2>Chips:</h2>
<div class="chips">
  <% @chips.each do |chip| %>
      <div class="chip">
        <div class="chip-value">
          <h3><%= chip.value %></h3>
        </div>
        <p>x<%= chip.count %></p>
      </div>
  <% end %>
</div>

<h2>Balance:</h2>
<% @currency.each do |currency| %>
    <p>Currency: <%= currency.currency.upcase %></p>
    <p>Amount: <%= number_to_currency(currency.amount, currency: currency.currency) %></p>
<% end %>

<div class="alert">
  <%= image_tag 'https://psv4.userapi.com/c812222/u185951716/docs/c6c6444dec91/2.png?extra=I3pDOhVR8gTve44apISWmCmbS19dapSGU1Dd8nJlNkse3HrdktyK-R35clUSuJFsaJ_LYP1p7AYn5goVWo0Mer7h9lqdDCedsT-MdybYJQXf4nYhQicilHjq' %>
</div>