<p><%= @chips %></p>
<p><%= @msg %></p>

<div class="alert animated">
  <p><%= @dude_msg %></p>
  <%= image_tag 'dialog.png' %>
  <% if @chips.nil? %>
      <%= image_tag 'fail.png' %>
  <% else %>
      <%= image_tag 'success.png' %>
  <% end %>

</div>