<!DOCTYPE html>
<html>
  <head>
    <title>Chipsmanager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'Balance', '/' %></li>
        <li><%= link_to 'Chips -> Currency', edit_chips_path %></li>
        <li><%= link_to 'Currency -> Chips', new_chips_path %></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
